!raw_data/.gitkeep
!amt_tracks/.gitkeep
!for_annotation/.gitkeep
*.csv
brownian_bridges/swazi_dbbm.tif
WBV1_44782.pdf
plots/WBV1__44782.svg
plots/WBV1__44782.png
plots/WBV1__44782.pdf
mend_data_WBV1__44782.pdf
brownian_bridges/mend_data_WBV1__44782.tif
*.png
